<body>
        <h1>Course Evaluation/Feedback Form</h1>
    <form method="post" action="feedback" class="btn btn-outline-info">
        
        Enter username: <input type = "text" name ="username">   <select name="year">
                <option> Freshman </option>
                <option> Sophomore </option>
                <option> Junior </option>
                <option> Senior </option>
            </select><br>
        Enter course name: <input type = "text" name ="coursename"> <br>
        Enter Professor's name: <input type = "text" name ="profname"> <br>
        
       <br>
        Enter feedback/evaluation <br> <textarea name="feedback"></textarea>
        <input type = "submit" class="btn btn-primary">
    </form>
</body>



